.results-page {
    ion-grid {
        max-width: 1200px;
        margin: auto;
    }
    &__content {
        display: flex;
    }

    &__column{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}