.summary-card {
    &__header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       font-weight: 600;

       .download-button {
            --background: transparent;
            --color: var(--ion-color-dark);
            --box-shadow: none;
       }
    }

}