.summary-card {
    border-radius: 12px;
    .ion-card-content {
        height: 580px;
        overflow-y: scroll;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;

        .download-button {
            --background: transparent;
            --color: var(--ion-color-dark);
            --box-shadow: none;
        }
    }
}
