.page-container {
    ion-content {
        --background: linear-gradient(-160.22deg, #ff165440 10.15%, #8a4fff70 86.83%);
    }
    .page-subtitle {
        max-width: 1200px;
        margin: 1rem auto;
    }
}
