.app-title {
    background: #081631;
    cursor: pointer;
    h1 {
        margin: 0;
        width: 100%;
        margin: auto;
        max-width: 1200px;
        padding: 1rem 0;
        text-align: left;
        color: white;
        font-size: 28px;
        font-weight: 700;
    }
}